# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Private files (kept out of repository for several reasons)
Private.*
Priv.*
MKL_*
*.MKL.*

# Prebuild JCR files
*.jcr
*.JCR

# MacOS Crap 
.DS_Store
._*

# Executables Directory
Exe_*
Kxsarl/x64/Release

# Visual Studio Crap
.vs



Debug_JQL/assets.jql
enc_temp_folder

# Fake 3D
*.bb_bak*
Textures/Fake3D/Fake3D.gitignore.zip
Textures/Fake3D/F3DM.pdb
Textures/FakeItAll/x64/
Textures/FakeItAll/Exe

Textures/FakeItAll/Error

# C# obj crap
Kxsarl_Transfer/obj


# tlogs? We don't need no stinking tlogs!
*.tlog
