# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Private files (kept out of repository for several reasons)
Private.*
MKL_*
*.MKL.*

# Prebuild JCR files
*.jcr
*.JCR

# MacOS Crap 
.DS_Store
._*

# Executables Directory
Exe_*
Kxsarl/x64/Release

# Visual Studio Crap
.vs



